{% extends 'base.html' %}

{% block title %}
<title>View Profile</title>
{% endblock %}

{% block content %}
<h1 class="p-2 text-center">Profiles</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            {% for profile in profile %}
            <div class="card" style="height:30rem;">
                <div class="card-body">
                    <h4 class="card-title" style="margin-bottom: 10%;"> {{ profile.first_name }} {{ profile.last_name }} </h4>
                    <p class="card-text">{{ profile.current_position }}</p>
                    <p class="card-text" style="margin-bottom: 20%;">{{ profile.location }}</p>
                    <a href="{% url 'profile_info' profile.id %}" class="btn btn-primary">View Profile</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>



{% endblock %}