{% extends 'base.html' %}

{% block title %}
<title>Delete Profile</title>
{% endblock %}

{% block content %}
<h1 class="p-2 text-center">Are You Sure You Want To Delete Your Profile?</h1>

<form method="POST">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-2">
                {% csrf_token %}
                <input type="submit" value="Yes" class="btn btn-primary">
                <a href="{% url 'profile_info' object.id %}">No</a>
            </div>
        </div>
    </div>
</form>

{% endblock %}