{% extends 'base.html' %}

{% block title %}
<title>Profile Home</title>
{% endblock %}

{% block content %}

<h1 class="text-center p-2">Home page</h1>    
<div class="container">
    <h5 class="text-center p-5">
        Welcome to the Home Page of the LinkedIn Profile. You can navigate to separate pages through the navigation
        bar at the top of your page. The LinkedIn Profile is based directly off of the original LinkedIn Network Profile,
        allowing users to add similar information about themselves for the business world to see.
    </h5>
</div>
{% endblock %}